{
  "parser": "babel-eslint",
  "extends" : [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "settings": {
    "ecmascript": 7,
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id", "__INITIAL_STATE__"] }],
    "new-cap": 0,
    "no-fallthrough": ["error", { "commentPattern": "break[\\s\\w]*omitted" }],
  }
}
